<div class="container_signin">
  <div class="signin_form_area">
    <form action="/signin" method="post">

      <div class="form-items">
        <p class="email">Email</p>
        <input class="email" type="text" name="mail" placeholder="Eメール">
      </div>

      <div class="form-items">
        <p class="user_name">User Name</p>
        <input class="user_name" type="text" name="user_name" placeholder="User name">
      </div>

      <div class="form-items">
        <p class="password">Password</p>
        <input class ="password" type="password" name="password" placeholder="パスワード">
      </div>

      <div class="btn-area">
        <input class="btn login" type="submit" value="Sign in">
      </div>

    </form>
  </div>
</div>